.canvasI{
    color: gray;
    background-color:#d3d3d36e;
    height: 300px;
    width: 100%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

.canvasbox{
    margin: 5%;
}